<a href="https://colab.research.google.com/github/ralsouza/data_visualization_with_python/blob/master/notebooks/01_python_map_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# map()
This function does basically the mapping of an value to other, almost a Python dictinary. This is a functional programming concept, but can be useful in certain circumstances. This concept is fundamental to MapReduce programming, popular in data technologies like Big Data, Hadoop and Spark.

In [0]:
# Define an array with the built-in function range()
arr1 = range(0,15)

In [2]:
print(arr1)

range(0, 15)

In [3]:
type(arr1)

range

In [0]:
# Make a simple function to elevate a number to cube
def cube(num):
  return num ** 3

In [5]:
# Elevating each values with a for loop
for element in arr1:
  print(cube(element))

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744

In [0]:
# Now using map() function, this function is faster than the traditional for
list_map_func = map(cube,arr1)

In [7]:
# The map() function returns an iterable object
print(list_map_func)

<map object at 0x7f2b738cd160>

In [8]:
# To see that results, we need to convert this object to a list
print(list(list_map_func))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [0]:
# Applying the map() function directly to an range() function
list_map_func2 = map(float,range(20))

In [10]:
print(list(list_map_func2))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0]

In [0]:
# Importing the sqrt function from math library
from math import sqrt

In [12]:
arr2 = list(arr1); arr2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [14]:
# Applying the square root to the first 5 elements of a list
print(list(map(sqrt,arr2[:5])))

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]