<a href="https://colab.research.google.com/github/ralsouza/data_visualization_with_python/blob/master/notebooks/04_python_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List comprehensions provide a concise way to create lists. 

It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

The result will be a new list resulting from evaluating the expression in the
context of the for and if clauses which follow it. 

The list comprehension always returns a result list.

In [3]:
# Define the array
arr1 = range(0,15); arr1

range(0, 15)

In [4]:
# For each item in array, rise each item to cube
[item ** 3 for item in arr1]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [5]:
# For each item in array, print the item IF item is divisible by 2
[item for item in arr1 if item % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [6]:
[item ** 2 for item in arr1 if item % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196]

In [0]:
# Working with strings
phrase_list = ['Big Data',
               'Machine Learning in Big Data and Algorithms in Big Data',
               'Data Science and Big Data',
               'Big Data and IoT']

In [9]:
# For each item in phrase_list, print the itehm IF the count of term 'Big Data' appear twice
[item for item in phrase_list if item.count('Big Data') >= 2]

['Machine Learning in Big Data and Algorithms in Big Data']

In [11]:
# Convert each item in float data type
[float(item) for item in arr1]

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0]