<a href="https://colab.research.google.com/github/ralsouza/data_visualization_with_python/blob/master/notebooks/14_python_pandas_series_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas Series

## NaN values (Not a Number)

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Using Numpy
arr_np = np.array([1,2,3,np.nan]); arr_np

array([ 1.,  2.,  3., nan])

In [0]:
# Calculating the mean of arr_np
# Numpy identifies the nan and calculates the result as nan
arr_np.mean()

nan

In [0]:
# Using Pandas with series
arr_pd = pd.Series([1,2,3,np.nan]); arr_pd

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [0]:
# Calculating the mean of arr_pd
# Pandas Series identifies the nan value and excludes it, but the mean doesn't consider the position in the mean calc 
arr_pd.mean()

2.0