<a href="https://colab.research.google.com/github/ralsouza/data_visualization_with_python/blob/master/notebooks/15_python_pandas_series_concatenation_of_series_and_handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Concatenating Series

In [0]:
import pandas as pd
import numpy as np

In [2]:
# Makgin a Pandas Serie
S1 = pd.Series(np.random.rand(5)); S1

0    0.310670
1    0.867929
2    0.916383
3    0.931199
4    0.290458
dtype: float64

In [3]:
# Making another
S2 = pd.Series(np.random.rand(5)); S2

0    0.573315
1    0.864410
2    0.128323
3    0.327446
4    0.313207
dtype: float64

In [4]:
# Concatenating both pandas series
# Note the indexes, there is a problem!
S3 = pd.concat([S1,S2]); S3

0    0.310670
1    0.867929
2    0.916383
3    0.931199
4    0.290458
0    0.573315
1    0.864410
2    0.128323
3    0.327446
4    0.313207
dtype: float64

In [5]:
# Check the problem, there are two indexes with same value
S3[0]

0    0.310670
0    0.573315
dtype: float64

In [6]:
# Solving the problem
S3.index = range(S3.count()); S3

0    0.310670
1    0.867929
2    0.916383
3    0.931199
4    0.290458
5    0.573315
6    0.864410
7    0.128323
8    0.327446
9    0.313207
dtype: float64

In [7]:
# Reindexing the pandas series
# Note that the indexes 16 and 21 don't exist, so pandas will define them as NaN values
S3.reindex([0,2,16,21])

0     0.310670
2     0.916383
16         NaN
21         NaN
dtype: float64

In [8]:
# We can fill the indexes with some value
S3.reindex([0,2,16,21], fill_value=0)

0     0.310670
2     0.916383
16    0.000000
21    0.000000
dtype: float64

In [10]:
# Filling the indexes 
S4 = S3.reindex([0,2,16,21]); S4

0     0.310670
2     0.916383
16         NaN
21         NaN
dtype: float64

In [11]:
# Filling forward with the last valid value
S4.ffill()

0     0.310670
2     0.916383
16    0.916383
21    0.916383
dtype: float64

In [12]:
# Filling back
S4.bfill()

0     0.310670
2     0.916383
16         NaN
21         NaN
dtype: float64

In [13]:
# Filling NaN with a specific value
S4.fillna(12)

0      0.310670
2      0.916383
16    12.000000
21    12.000000
dtype: float64