<a href="https://colab.research.google.com/github/ralsouza/data_visualization_with_python/blob/master/notebooks/17_python_pandas_dataframes_indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import string

In [3]:
# Making a dictionary
d1 = {'col1':[190,231,784,127],
      'col2':[545,278,104,347],
      'col3':[665,224,901,503],
      'col4':[123,456,789,763]};
d1

{'col1': [190, 231, 784, 127],
 'col2': [545, 278, 104, 347],
 'col3': [665, 224, 901, 503],
 'col4': [123, 456, 789, 763]}

In [6]:
# Converting d1 to dataframe object
df = pd.DataFrame(d1); df

   col1  col2  col3  col4
0   190   545   665   123
1   231   278   224   456
2   784   104   901   789
3   127   347   503   763